{% extends 'bootstrap/base.html' %}


{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-6">
        <iframe src="{{ marudor_spich_url }}" width="600px" height="750px" frameBorder="0" scrolling="no"></iframe>
    </div>
    <div class="col-6">
        <iframe src="{{ vrs_luelsdorferstr_url }}" width="600px" height="500px" frameBorder="0"></iframe>
        <div id="wcom-8c09a7720e814e77ab58d0e8b1915cee" class="wcom-default w300x250" style="border: 1px solid rgb(204, 204, 204); background-color: rgb(252, 252, 252); border-radius: 0px;"><link rel="stylesheet" href="//cs3.wettercomassets.com/woys/5/css/w.css" media="all"><div class="wcom-city"><a style="color: #000" href="https://www.wetter.com/deutschland/troisdorf/spich/DE0010634011.html" target="_blank" rel="nofollow" aria-label="Wetter Berlin" title="Wetter Spich">Wetter Spich</a></div><div id="wcom-8c09a7720e814e77ab58d0e8b1915cee-weather"></div><script type="text/javascript" src="//cs3.wettercomassets.com/woys/5/js/w.js"></script><script type="text/javascript">_wcomWidget({id: 'wcom-8c09a7720e814e77ab58d0e8b1915cee',location: 'DE0010634011',format: '300x250',type: 'summary'});</script></div>
    </div>

</div>
</div>
<meta http-equiv="refresh" content="300; URL="/">



{% endblock %}